# Python
*.pyc
__pycache__/
venv/
env/
*.pyo
*.pyd

# Flask
instance/
.webassets-cache

# IDE
.vscode/
.idea/

# Logs
*.log

# Environment
.env
.env.*

credentials.json

app/secrets/google-credentials.json